#an{
      -fx-background-image: url("../img/dispesas.png"); 
-fx-background-repeat: repeat;
-fx-background-size: 3 3; 
}
#an1{
      -fx-background-image: url("../img/dispesas.png"); 
-fx-background-repeat: repeat;
-fx-background-size: 3 3; 
}